.twitStream{
	font-family: verdana;
	font-size: 11px;
	width: 300px;
	height:auto;
	max-height:350px;
	overflow:auto;
	border-style:solid;
	border-width:medium;
	margin-right:15px;
	}
.twitStream a{

	font-family: verdana;
	font-size: 11px;
}
.tweet{
	display:block;
	padding: .4em;
	margin: .4em 0;
	background-color:#CCFFFF;
	width:95%;
}
.tweet-left{
	float: left;
	margin-right: 1em;
}
.tweet-left img{
	border: 2px solid #000000;
}
.tweet p.text{
	margin: 0;
	padding: 0;
}

